<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/styling/about.css">

</head>

<body>
    <div class="container">
        <div class="title">
            <h2>About Us</h2>
        </div>
        <div class="co-founders">
            <div class="co-founder">
                <img src="/static/images/Beauty.png" alt="John Doe">
                <h3>Beauty Ikudehinbu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo ac nunc ultrices, vitae
                    tincidunt nisl tincidunt.</p>
            </div>
            <div class="co-founder">
                <img src="/static/images/Melissa.png" alt="Jane Smith">
                <h3>Melissa Ncube</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo ac nunc ultrices, vitae
                    tincidunt nisl tincidunt.</p>
            </div>
            <div class="co-founder">
                <img src="/static/images/Millicent.png" alt="Michael Johnson">
                <h3>Millicent Malinga</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod justo ac nunc ultrices, vitae
                    tincidunt nisl tincidunt.</p>
            </div>
        </div>
    </div>
</body>

</html>