body {
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}